<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>PhotoTrap</title>
  </head>
  <body>
    <header class="navbar">
      <div class="navbar__logo"><img src="./images/logo.png" alt="PhotoTrap" /> PhotoTrap</div>
      <nav class="nav-links">
        <a class="nav-link--active" href="admin">Panel administracyjny</a>
        <a href="galeriafotopulapki">Galeria fotopułapki</a>
        <form action="/wylogowanie" method="POST">
          <button class="nav-link--logout" type="submit">Wyloguj <i class="bx bx-log-out"></i></button>
        </form>
      </nav>
    </header>

    <main class="admin-panel">
      <section class="content__header">
        <h1>Panel administratora</h1>
      </section>
      <section class="admin-panel__container">
        <div class="panel-base left-panel">
          <section class="table__header">
            <h2>Użytkownicy</h2>
            <p>Aktywni użytkownicy: <span class="active"><%= users.length %></span></p>
          </section>
          <table class="admin-panel__table">
            <thead>
              <tr class="table__row">
                <th>ID</th>
                <th>Nazwa użytkownika</th>
                <th>Data email</th>
                
              </tr>
            </thead>
            <tbody>
              <% users.forEach(user => { %>
              <tr class="table__row">
                    <td><%= index = index + 1 %></td>
                    <td><%= user.name %> <%= user.surname %></td>
                    <td><%= user.email %></td>
                    
                  </tr>  
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>


     

        <div class="panel-base right-panel">
          <section class="table__header">
            <h2>Dodaj użytkownika</h2>
            <p></p>
          </section>
          <form class="admin-panel__form" action="/users/rejestracja" method="POST">
            <input
              class="main-input"
              type="email"
              name="email"
              placeholder="Adres e-mail"
              style="margin-bottom: 36px"
              id="email"
              required
            />
            <input
              class="main-input"
              type="name"
              name="name"
              placeholder="Imię użytkownika"
              id="name"
              required
              style="margin-bottom: 36px"

            />
            <input
              class="main-input"
              type="surname"
              name="surname"
              placeholder="Nazwisko użytkownika"
              style="margin-bottom: 36px"
              id="surname"
              required
            />
            <input
              class="main-input"
              type="password"
              name="password"
              placeholder="Hasło użytkownika"
              style="margin-bottom: 32px"
              id="password"
              required
            />
            <button class="main-button" type="submit">Dodaj użytkownika</button>
            <p class="login__caption">Nastąpi dodanie nowego użytkownika do bazy danych</p>
          </form>
        </div>
      </section>
      <section class="admin-panel__photos-number">
        <span></span>
        <div>
          <label for="photosNumber">Ilość zdjęć po wykryciu ruchu: </label>
          <input type="number" max="4" min="1" placeholder="1" />
        </div>
      </section>
    </main>
  </body>
</html>
